{% extends "base.html" %}

{% block content %}

<div class="login_wrapper">
  <h2>Logga in</h2>
  {% if form.errors %}
  <h4 id="failed-login">Användarnamnet eller lösenordet är felaktigt, eller så har ditt konto inte aktiverats än!</h4> 
  {% endif %}

  {% if user.is_authenticated %}
  <p> Du är redan inloggad! <a href="/accounts/logout">Logga ut? </a> </p>
  {% else %}

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">

    {% csrf_token %}
    
   
      {{ form.username }}

      {{ form.username.label_tag }}

      <br>
 
      {{ form.password }}

      {{ form.password.label_tag }}
      <fieldset class="clearfix"></fieldset>

    <br>
    
    <input type="submit" value="Logga in" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <a href="/accounts/register" class="reg-btn">Registera konto</a>
  {% endif %}
</div>

{% endblock %}
