{% extends "base.html" %}

{% block metadata %}

    <link rel="stylesheet" href="/static/login/login.css" />
    <script type="text/javascript" src="/static/javascript/clearLocalStorage.js"></script>

{% endblock %}

{% block content %}
    <div class="row clearfix">

        <div class="column full">

            <div class="center-wrapper">
                <img src="/static/images/minnesmark.png">

                <h2>Minnesmark Editor</h2>
                {% if form.errors %}
                    <h3 id="failed-login">Användarnamnet eller lösenordet är felaktigt, eller så har ditt konto inte aktiverats än!</h3>
                {% endif %}

                {% if user.is_authenticated %}
                    <p> Du är redan inloggad! <a href="/accounts/logout">Logga ut? </a> </p>
		    <p> Gå till <a href="/editor/"> Editorn </a> </p>
                {% else %}

                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">

                        <fieldset class="tag">
                            {{ form.username }}
                            {{ form.username.label_tag }}
                        </fieldset>
                        <fieldset class="tag">

                            {{ form.password }}
                            {{ form.password.label_tag }}
                            <button type="submit" class="btn round login"><span class="typcn typcn-chevron-right"></span></button>

                        </fieldset>

                        <br>

                        <input type="hidden" name="next" value="{{ next }}" />
                        {% csrf_token %}

                    </form>
                    <a href="/accounts/passwordrecover">Glömt Lösenord?</a>
                    <br>
                    <br>
                    <br>

                    <a href="/accounts/register" class="reg-btn">Registera konto</a>
                    <br>
                    <br>
                    <br>

                    <footer>
                        <a href="/about">Om Minnesmark</a>
                        <p>&copy SICS East Swedish ICT AB</p>
                    </footer>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
