{% extends "base.html" %}

{% block metadata %}

    <link rel="stylesheet" href="/static/login/login.css" />


{% endblock %}

{% block content %}
    <div class="row clearfix">

        <div class="column full">

            <div class="center-wrapper">
                <img src="/static/images/minnesmark.png">

                <h2>Minnesmark Editor</h2>
                <ul>
                    {% for error in all_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <form method="post" action="{% url 'register' %}">
                    <fieldset class="tag">
                        <input id="username" type="text" name="username" placeholder="Användarnamn..." required="required">
                        <label for="username">Användarnamn:</label>
                    </fieldset>
                    <fieldset class="tag">
                        <input type="email" name="email" placeholder="Email..." required="required">
                        <label for="email">Email:</label>
                    </fieldset>
                    <fieldset class="tag">
                        <input type="text" name="firstname" placeholder="Förnamn..." required="required">
                        <label for="firstname">Förnamn:</label>
                    </fieldset>
                    <fieldset class="tag">
                        <input type="text" name="lastname" placeholder="Efternamn..." required="required">
                        <label for="lastname">Efternamn:</label>
                    </fieldset>
                    <fieldset class="tag">
                        <input type="password" name="password" placeholder="Lösenord..." required="required">
                        <label for="password">Lösenord:</label>
                    </fieldset>
                    <fieldset class="tag">
                        <input type="password" name="password_again" placeholder="Lösenord igen..." required="required">
                        <label for="password_again">Lösenord igen:</label>
                    </fieldset>
                    <input type="submit" class="btn" value="Registera" />
                    {% csrf_token %}

                </form>
            </div>
        </div>
    </div>
    </form>
{% endblock %}
