{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="login_wrapper">
  <h2>Registrera Dig</h2>
  <ul>
    {% for error in all_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Användarnamn..." required="required">
    <input type="email" name="email" placeholder="Email..." required="required">
    <input type="password" name="password" placeholder="Lösenord..." required="required">
    <input type="password" name="password_again" placeholder="Lösenord igen..." required="required">    
    <input type="submit" value="Registera" />
  </form>
</div>
</form>
{% endblock %}
