{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<link rel="stylesheet"
       href="/static/editor/style.css"/>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHTeNANuWa7s5Xazkf_5FdWM0lXOiUIc&sensor=true&libraries=geomentry&libraries=places">
</script>
    <script type="text/javascript" src="/static/editor/javascript/markerwithlabel.js"></script>

    <script type="text/javascript"
        src="/static/editor/javascript/mapeditor.js">

</script>

<script type="text/javascript"
	src="/static/editor/javascript/filecheck.js">
</script>


{% endblock %}


{% block content %}
<div>
  <div id="map-wrapper">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-wrapper"/>
    <div id="map-canvas"></div>
    <div id="markers-wrapper">
      <div data-markerid="1"  class="marker">
        <p class="marker-text">1</p>
      </div>
      <div data-markerid="2"  class="marker hidden">
        <p class="marker-text">2</p>
      </div>
      <div data-markerid="3"  class="marker hidden">
        <p class="marker-text">3</p>

      </div>
      <div data-markerid="4"  class="marker hidden">
        <p class="marker-text">4</p>

      </div>
      <div data-markerid="5" class="marker hidden">
        <p class="marker-text">5</p>

      </div>
      <div data-markerid="6" class="marker hidden">
        <p class="marker-text">6</p>
      </div>
    </div>
    <div id="markers-options">
      <button class="remove-marker">&#10006;</button>
    </div>
  </div>

  <div id="lists">




    <div id="upload-station">

        Välj station: <select id="statlist" onclick="dropdown('statlist')" onchange="printarray('statul')"></select>

      <p>
	    Välj en fil att ladda upp på station:<br>

	    <input type="file" size="40" id="statfile" onchange="checkStation()">
      </p>
    </div>

      <br><br> tabort

      <div id="station-list">
          <ol id="statul"></ol>

      </div>


      <br><br><br><br><br>tabort<br><br><br><br>


      <div id="statfile-options" style="visibility: hidden;">
            <button type="submit" onclick="closeoption('statfile-options')">Close</button>
            <input type="checkbox"> Panorama fett awesome!
      </div>



    <div id="upload-marker">

        Välj markör: <select id="marklist" onclick="dropdown('marklist')" onchange="printarray('markul')"></select>

      <p>
	    Välj en fil att ladda upp på markör:<br>
	    <input type="file" size="40" id="markfile" onchange="checkMarker()">
      </p>

    </div>
       <div id="marker-list">
          <ol id="markul"></ol>
      </div>
  </div>

  <div id="editor_info">
    <p></p>
  </div>




</div>
{% endblock %}
