{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet"
          href="/static/editor/editor.css"/>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHTeNANuWa7s5Xazkf_5FdWM0lXOiUIc&sensor=true&libraries=geomentry&libraries=places">
    </script>
    <script type="text/javascript" src="/static/editor/javascript/markerwithlabel.js"></script>

    <script type="text/javascript"
            src="/static/editor/javascript/mapeditor.js">
    </script>
    <script type="text/javascript" src="/static/editor/javascript/editor.js"></script>


{% endblock %}


{% block content %}
    <div class="row clearfix">

        <div class="column third">

            <div class="menu">
                <h1>Rundor</h1>
                <div class="menu-btns">
                    <div class="btn-block">
                        <button class="btn green round"> <span class="typcn typcn-document-add"> </span></button>
                        <p class="label-bottom">Ny runda</p>
                    </div>
                    <div class="btn-block">
                        <button class="btn blue round"> <span class="typcn typcn-cog"> </span></button>
                        <p class="label-bottom">Inställningar</p>
                    </div>
                    <div class="btn-block">
                        <a href="/accounts/logout"><button class="btn blue round"> <span class="typcn typcn-power"> </span></button></a>
                        <p class="label-bottom">Logga ut</p>
                    </div>
                </div>
            </div>
            <div class="tour">
                <ul class="tour-list">
                    <li>
                        <span class="typcn typcn-chevron-right see-more"></span>
                        <h2 class="see-more">Testa lite grann</h2>
                        <p class="small-text">Opublicerad</p>
                        <ul class="tour-menu">
                            <li class="clearfix">
                                <p>1. Bestäm namn och startmedia</p>
                                <a href="/editor/general" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>2. Lägg till stationer på kartan</p>
                                <a href="/editor/stations" class="editor-btn active"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>3. Lägg till media</p>
                                <a href="/editor/media" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>4. Publicera, skriv ut och färdigställ</p>
                                <a href="/editor/publish" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="typcn typcn-chevron-right see-more"></span>
                        <h2 class="see-more">Testa lite grann</h2>
                        <p class="small-text">Opublicerad</p>
                        <ul class="tour-menu">
                            <li class="clearfix">
                                <p>1. Bestäm namn och startmedia</p>
                                <a href="/editor/general" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>2. Lägg till stationer på kartan</p>
                                <a href="/editor/stations" class="editor-btn active"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>3. Lägg till media</p>
                                <a href="/editor/media" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>4. Publicera, skriv ut och färdigställ</p>
                                <a href="/editor/publish" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="typcn typcn-chevron-right see-more"></span>
                        <h2 class="see-more">Testa lite grann</h2>
                        <p class="small-text">Opublicerad</p>
                        <ul class="tour-menu">
                            <li class="clearfix">
                                <p>1. Bestäm namn och startmedia</p>
                                <a href="/editor/general" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <a href="/editor/stations" class="editor-btn active"><span class="typcn typcn-chevron-right"></span></a>
                                <p>2. Lägg till stationer på kartan</p>

                            </li>
                            <li class="clearfix">
                                <p>3. Lägg till media</p>
                                <a href="/editor/media" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>

                            </li>
                            <li class="clearfix">
                                <p>4. Publicera, skriv ut och färdigställ</p>
                                <a href="/editor/publish" class="editor-btn"><span class="typcn typcn-chevron-right"></span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="column two-thirds">


            <div id="map-wrapper">
                <div class="rowfix clearfix">

                    <div class="top-wrapper">
                        <div class="btn-block">
                            <button class="btn blue round"> <span class="typcn typcn-th-menu"> </span></button>
                            <p class="label-bottom">Göm menyn</p>
                        </div>
                        <div class="btn-block">
                            <button class="saveRoute btn green round"> <span class="typcn typcn-cloud-storage"> </span></button>
                            <p class="label-bottom">Spara på kontot</p>
                        </div>
                        <h2 class="text-center">2. Lägg till stationer på kartan (max 6)</h2>
                    </div>
                    <div class="btn-block btn-add-margin station">
                        <button class="btn green round"> <span class="typcn typcn-plus"> </span></button>
                        <p class="add-label ">Lägg till station</p>

                    </div>
                </div>
                <div class="rowfixfull clearfix">
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
