{% extends "base.html" %}

{% block title %}Editor{% endblock %}

{% block metadata %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet"
          href="/static/editor/editor.css"/>

    <script type="text/javascript" src="/static/editor/javascript/editor.js"></script>
    <link href="/static/editor/css/no-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="/static/editor/javascript/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/editor/javascript/general.js"></script>

{% endblock %}


{% block content %}
    <div class="row clearfix">

        <div class="column third">

            {% include 'editor/editormenu.html' %}
            {% include 'editor/route_menu.html' %}

        </div>
        <div class="column two-thirds">


            <div id="map-wrapper">
                <div class="rowfix clearfix">

                    <div class="top-wrapper">
                        <div class="btn-block">
                            <button class="btn blue round"> <span class="typcn typcn-th-menu"> </span></button>
                            <p class="label-bottom">Göm menyn</p>
                        </div>
                        <div class="btn-block">
                            <button class="btn green round"> <span class="typcn typcn-cloud-storage"> </span></button>
                            <p class="label-bottom">Spara på kontot</p>
                        </div>
                        <h2 class="text-center">4. Publicera, skriv ut och färdigställ</h2>
                    </div>
                </div>
                <div class="rowfixfull clearfix">

                    <div class="publish-wrapper">
                        <div class="publish-tour clearfix">
                            <span class="typcn typcn-eye-outline"></span>
                            <h2>Publicera</h2>
                            <input type="checkbox" name="publish">

                            <p class="small-text">www.minnesmark.se/användarnman/tour-name</p>
                        </div>
                        <button class="btn full">
                            <span class="typcn typcn-printer"></span>
                            Skriv ut markörer och karta
                        </button>
                        <h3>Startmedia</h3>
                        <p class="small-text">Markera media som skickas till användarens e-post i slutet av rundan</p>
                        <ul class="startmedia-list">
                            <li class="clearfix">
                                <input type="checkbox" name="MEDIANAMNETHÄR!"/>
                                <p class="small-text">starbild.png</p>
                            </li>
                            <li class="clearfix">
                                <input type="checkbox" name="MEDIANAMNETHÄR!"/>
                                <p class="small-text">starfilm.mp4</p>
                            </li>
                        </ul>
                        <h3>Media på station 1</h3>
                        <p class="small-text">Markera media som skickas till användarens e-post i slutet av rundan</p>
                        <ul class="media-list">
                            <li class="clearfix">
                                <input type="checkbox" name="MEDIANAMNETHÄR!"/>
                                <p class="small-text">starbild.png</p>
                            </li>
                            <li class="clearfix">
                                <input type="checkbox" name="MEDIANAMNETHÄR!"/>
                                <p class="small-text">starfilm.mp4</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
