#map-wrapper{
    position: relative;
    height: 800px;
    width: 800px;
}
#map-canvas{
    height: 100%;
    width: 100%;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#markers-wrapper{
    position:absolute;
    top:0;
    right:0;
    padding: 10px;
    background: rgba(40,40,40,.5);
}
#markers-wrapper .marker{
    position: relative;
    height: 42px;
    width: 32px;
    display: inline-block;
    margin: 0 5px 0 0;
    cursor: pointer;
    background-image: url(/static/editor/img/marker.png);
}
#markers-wrapper .hidden{
    background-image: url(/static/editor/img/marker-white.png)!important;
}

.labels,
#markers-wrapper .marker p.marker-text{
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 38px;
    white-space: nowrap;
}
#markers-wrapper .marker p.marker-text{
    position: absolute;
    top: 10px;
    left: 12px;
}
#markers-options{
    position:absolute;
    top:65px;
    right:0;
    padding: 10px;
}
#markers-options .remove-marker{
    background: red;
    padding: 3px 5px 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
}

.infoMarker{
    width: 300px!important;
    height: 40px!important;
}
#upload-station{
    float: left;
}
#station-list{
    float: right;
}

#upload-marker{
    float: left;
}
#marker-list{
    float: right;
}
#statfile-options{
    float: right;
}