{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/static/javascript/require.js"></script>

  {% block metadata %}

  {% endblock %}
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}Minnesmark{% endblock %}</title>
</head>

<body>
    <header>
      <a href="/">
	<img id="logotype" alt="Minnesmark" src="/static/images/logo.jpg" />
	<h1>Minnesmark</h1>
      </a>
      <nav>
        <ul>
	{% block header %}
	{% if user.is_superuser %}
	      <li><a href="/accounts/profile">{% trans "Hem" %}</a></li>
        <li><a href="/admin/">{% trans "Admin Panel" %}</a></li>
        <li><a href="/admin/approve">{% trans "Godkänn Konton" %}</a></li>
        <li><a href="/editor/">{% trans "Editor" %}</a></li> 
        {% endif %}
	{% if user.is_authenticated %}
	<li><a href="/accounts/logout">{% trans "Logga ut" %}</a></li>
	{% endif %}
        {% endblock %}
        </ul>
      </nav>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
        <hr />
        {% endblock %}
    </footer>
</body>

</html>
