{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/static/style.css" />
  <title>{% block title %}Minnesmark{% endblock %}</title>
</head>

<body>
    <header>
      <h2>Minnesmark</h2>
      <nav>
        <ul>
        {% block header %}
	<li><a href="{% url 'index' %}">{% trans "Hem" %}</a></li>
        {% if user.is_superuser %}
        <li><a href="/admin/">{% trans "Admin Panel" %}</a></li> 
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="/editor/">{% trans "Editor" %}</a></li> 
        {% endif %}
        {% endblock %}
        </ul>
      </nav>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
        <hr />
        {% endblock %}
    </footer>
</body>

</html>
